<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.solutions.ray.expenser" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Base.V7.Theme.AppCompat.Light" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddExpenseActivity"
            android:label="@string/title_activity_add_expense"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddIncomeActivity"
            android:label="@string/title_activity_add_income"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TestAct"
            android:label="@string/title_activity_test"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SideBar"
            android:label="@string/title_activity_side_bar"
            android:screenOrientation="portrait" >
        </activity>

        <receiver
            android:name=".MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".DatePick"
            android:label="@string/title_activity_date_pick"
            android:screenOrientation="portrait"
            android:theme="@style/Base.V7.Theme.AppCompat.Light.Dialog" >
        </activity>
        <activity
            android:name=".WeeklyExpenses"
            android:label="@string/title_activity_weekly_expenses"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MonthlyExpenses"
            android:label="@string/title_activity_monthly_expenses"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DailyExpenses"
            android:label="@string/title_activity_daily_expenses"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Test2"
            android:label="@string/title_activity_test2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UpdateExpense"
            android:label="@string/title_activity_update_expense" >
        </activity>
        <activity
            android:name=".ChartPicker"
            android:label="@string/title_activity_chart_picker"
            android:theme="@style/Base.V7.Theme.AppCompat.Light.Dialog">
        </activity>
        <activity
            android:name=".DailyChart"
            android:label="@string/title_activity_daily_chart" >
        </activity>
        <activity
            android:name=".MonthlyChart"
            android:label="@string/title_activity_monthly_chart" >
        </activity>
        <activity
            android:name=".AnnualChart"
            android:label="@string/title_activity_annual_chart" >
        </activity>
    </application>

</manifest>
